[submodule "benchmarks/ansibench"]
	path = benchmarks/ansibench
	url = git@github.com:nfinit/ansibench.git
[submodule "benchmarks/anant"]
	path = benchmarks/anant
	url = https://github.com/linas/anant
[submodule "benchmarks/numal"]
	path = benchmarks/numal
	url = git@github.com:JeffBezanson/numal.git
